<ul>
<%= if @current_org_user do %>
  <li><%= @current_org_user.email %></li>
  <li><%= link "Settings", to: Routes.org_user_settings_path(@conn, :edit) %></li>
  <li><%= link "Log out", to: Routes.org_user_session_path(@conn, :delete), method: :delete %></li>
<% else %>
  <li><%= link "Register", to: "org_users/register" %></li>
  <li><%= link "Log in", to: Routes.org_user_session_path(@conn, :new) %></li>
<% end %>
</ul>
